/*** uncss> filename: https://dmoncayo999.github.io/advcss/main.css ***/
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*----------- BODY --------------*/
body {

    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    width: 100%;
}

/*----------- HEADER --------------*/

header {
    background-color: #6495ED;
    padding: 1rem 1.5rem 1rem 1.5rem;
    width: 100%;
   
}
header h1 a { 
    font-family: 'Lora', serif;
    font-weight: 300;
    text-decoration: none;
    color: #FAEBD7;
}

header h1 {
    text-align: right;
}


/*----------- NAVIGATION --------------*/

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block;
    padding: .5rem .5rem;
    color: #FAEBD7;
    text-decoration: none;
    text-align: right;
 }

nav ul li a:hover {
    color: white;
    text-decoration: underline;
}

nav ul li a:active {
    color:#DEB887;      
}

/*----------- MAIN --------------*/
main {
    padding-top: 1rem;
    background-color: #FAEBD7;

}

main article  {
    border: 1px none;
    box-shadow: 3px 4px rgb(231, 224, 224);
    background-color: white;
    padding: 2rem;
    margin: .8rem;
}

article h2 a { 
    font-family: 'Lora', serif;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

article h2 a:hover {
    color: #6495ED;
    text-decoration: underline;
}

article h2 a:active {
    color:#DEB887;      
}

article p a { 
    font-family: 'Lora', serif;
    text-decoration: none;
    color: #6495ED;
    font-size: 1rem;
}

article p a:hover {
    text-decoration: underline;
}

article p a:active {
    color: #DEB887;      
}
div.post-date {
    color: gray;
    margin: 0;
    padding: 0;
}
.post-content h2 {
    margin: 0;
    padding-bottom: 4rem;
}

figure {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

figure img {
    width: 200px;
}

/*----------- Large Css --------------*/
@media only screen and (min-width: 48rem) {

body div:nth-child(1) {
    display: flex;
    flex-basis: 400px;
}
header { 
    flex: 1;
}
header h1 {
    font-size: 2.5rem;
}
main { 
    flex: 3;
}
main article  {
    margin: 4rem;
    padding: 5rem;
}
article h2 a {
    font-size: 2.5rem;
}
figure img {
    width: 300px;
}

}

